<div class="container" fxLayout="row wrap" fxLayoutGap.gt-sm="45px" fxLayoutAlign="flex-start">
  <mat-card fxFlex.gt-sm="calc(33.3% - 45px)" *ngFor="let card of serviceCards" class="service-cards">
    <mat-card-header>
      <mat-card-title>{{card.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="card.src" [alt]="card.alt">
    <mat-card-content>
      <p>{{card.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{card.btnLabel}}</button>
    </mat-card-actions>
  </mat-card>
</div>
