.services-tabs {
  padding-top: 3em;
}

.img-card {
  padding-bottom: 0;
}

img {
  max-height: 729px;
}

.services-toolbar {
  justify-content: center;
}

.services-link {
  text-decoration: none;
  color: black;
}
